DB_HOST=db
DB_USER=root
DB_PASSWORD=changeme
DB_NAME=portfolio
DB_PORT=3306
WEB_PORT=8080
WEB_ADMINER_PORT=8081
GOOGLE_EMAIL=your_email@gmail.com
GOOGLE_PASSWORD_APP=your_google_app_password # https://myaccount.google.com/apppasswords

PASSWORD_ADMIN=admin_password