<footer>
    <div>
        <a href="./#projets">Projets</a>
        <a href="./#competences">Compétences</a>
        <a href="./#contact">Contact</a>
    </div>
    <p>&copy; <span id="footer-year"></span> EliDev. Tous droits réservés.</p>
    <div>
        <a href="https://github.com/EliD-Dev" target="_blank"><i class="fa-brands fa-github"></i> GitHub</a>
        <a href="https://portfolio-api.eliot-dubreuil.workers.dev/" target="_blank">API</a>
        <a href="./mentionsLegales.html">Mentions légales</a>
    </div>
</footer>
